---
import { Image } from "astro:assets";
import HeaderBG from "../images/TestBG.webp";

interface Props {
  // title: string;
  // img: string;
}

const {} = Astro.props;
---

<div id="gallery">
  <Image src={HeaderBG} alt="Image"/>
  <Image src={HeaderBG} alt="Image"/>
  <Image src={HeaderBG} alt="Image"/>
  <Image src={HeaderBG} alt="Image"/>
  <Image src={HeaderBG} alt="Image"/>
  <Image src={HeaderBG} alt="Image"/>
  
</div>

<style define:vars={{}}>
  #gallery {
    line-height: 0;
    column-count: 2;
    column-gap: 20px;
  }

  #gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 20px;
  }

  @media (max-width: 400px) {
    #gallery {
      column-count: 1;
    }
  }
</style>
